<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="card" style="width: 400px;">
    <div class="card-header">
      ログイン
    </div>
    <div class="card-body">
      <%= form_with url: login_path do |f| %>
        <div class="mb-3">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control', placeholder:'メールアドレス' %>
        </div>

        <div class="mb-3">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control', placeholder:'パスワード' %>
        </div>
        <div class="mb-3">
          <%= f.submit 'ログイン', class: 'btn btn-primary' %>
        </div>
      <% end %>
      <%= link_to 'パスワードを忘れたら？', '#' %>
    </div>
  </div>
</div>
