<% content_for(:title, t('.title')) %>
<div class="content">
 <div class="row">
   <h1><%= t('.title')%></h1>
   <%= form_with url: password_resets_path, local: true, method: :post do |form| %>
     <div class="field">
       <%= t('.email') %>
       <%= form.text_field :email %>
       <%= form.submit t('defaults.submit'), class:"btn btn-primary" %>
     </div>
   <% end %>
  </div>
  <p>上記のメールアドレスにパスワード変更のURLを送信します。</p>
</div>