<% content_for(:title, current_user.name) %>
<div class="content pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h1 class="float-card"><%= t('.title')%></h1>
    </div>
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <tbody>
          <tr>
            <%=link_to t('.change_profile'), edit_user_path(current_user), class: 'btn btn-primary float-right' %></td>
            <th>
              <span><%= t('.email')%></span>
            </th>
            <td>
              <% if current_user.email == 'guestuser@example.com' %></td>
              <td><%= t('.cannot_change_email')%></td>
            <% else %>
              <%= current_user.email %>
            <% end %>
          </tr>
          <tr>
            <th>
              <span><%= t('.line_account')%></span>
            </th>
           <% if current_user.email == 'guestuser@example.com' %>
            <td><%= t('.cannot_change_email') %></td>
           <% else %>
            <td>
              <% if current_user.uid.present?%>
               <span><%= current_user.name %></span>
               <td><%=t('.connected_LINE')%></td>
              <% else %>
               <span><%= current_user.name %></span>
                <td>
                  <%= link_to 'LINEアカウント連携',auth_at_provider_path(provider: :line), method: :post, class: 'btn btn-primary' %>
                </td>
              <% end %>
           <% end %>
          </tr>
          <tr>
           <th>
            <span><%= t('.destroy_user')%></span>
           </th>
            <td>
              <%= link_to 'ユーザー削除', user_path(current_user), id: "button-delete-#{current_user.id}", method: :delete, class: "btn btn-danger float-center", data: { confirm: t('defaults.message.deleted_confirm') } %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>