<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">expired foods</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if current_user.present? %>
          <li class="nav-item">
            <%= link_to t('defaults.logout'), logout_path, class: 'nav-link', method: :delete, data: { confirm: 'ログアウトします' } %>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.register_item'), new_item_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.item_list'), items_path, class: 'nav-link'%>
          </li>
           <li class="nav-item">
            <%= link_to t('defaults.shopping_list'), shopping_lists_path, class: 'nav-link' %>
          </li>
           <% if current_user.email != 'guestuser@example.com' %>
            <li class="nav-item">
              <%= link_to t('defaults.setting'), user_path(current_user), class: 'nav-link' %>
            </li>
           <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to t('defaults.enroll'), sign_up_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.login'), login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>