<%= form_with model: item, local: true do |f| %>
 <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-3 required-field">
    <%= f.label :title %><span class="required-icon"></span>
    <%= f.text_field :title, class: 'form-control', id: 'item_title' %>
  </div>
  <div class="form-group required-field">
    <%= f.label :count %><span class="required-icon"></span>
    <%= f.number_field :count, size: '5x5', min: 1 %>
  </div>
  <div class="mb-3 required-field">
    <%= f.label :expired_at %><span class="required-icon"></span>
    <%= f.date_field :expired_at %>
  </div>
  <div class="textarea">
    <%= f.label :detail %>
    <%= f.text_field :detail, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :template %>
    <%= f.select :template, options_for_select(["牛肉", "豚肉", "鶏肉", "刺身", "鮭", "ぶり", "卵"]), {}, class: 'form-control', id: 'item_template' %>
    <%= link_to t('defaults.use_template'), 'javascript:void(0);', id: 'use_template_button', class: 'btn btn-primary' %>
  </div>
  <%= f.submit t('defaults.register'), class: 'btn btn-outline-primary' %>
<% end %>

