<%= form_with model: item, local: true do |f| %>
 <%= render 'shared/error_messages', object: f.object %>
  <%= f.select :template, options_for_select(["テンプレート(クリックすると選択できます)", "牛肉", "刺身", "鮭", "卵"]), {}, id: 'item_template' %>
    <%= link_to t('defaults.use_template'), 'javascript:void(0);', id: 'use_template_button', class: 'btn btn-outline-primary' %>
  <div class="mb-3 required-field">
    <%= f.label :title %><span class="required-icon"></span>
    <%= f.text_field :title, id: 'item_title', class: 'form-control' %>
  </div>
  <div class="form-group required-field">
    <%= f.label :count %><span class="required-icon"></span>
    <%= f.number_field :count, min: 1, class: 'form-control' %>
  </div>
  <div class="mb-3 required-field">
    <%= f.label :expired_at %><span class="required-icon"></span>
    <%= f.date_field :expired_at, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.text_field :detail, placeholder: 'メモ(買った場所や値段、量などの情報を入力しましょう)', class: 'textarea-memo' %>
  </div>
  <%= f.submit t('defaults.register'), class: 'btn btn-primary' %>
<% end %>

 

