<li id="<%= dom_id(item) %>">
  <div class="card">
    <div class="card-body">
      <div class="item-info"><%= link_to search_item.title, item_path(item) %></div>
      <div class="item-info">
        <% if search_item.image.attached? %>
         <%= image_tag item.image, size: '150x120' %>
        <% else %>
         <%= image_tag("default.jpg", size: '150x120') %>
        <% end %>
      </div>
      <div class="item-info">数:<%= search_item.count %></div>
      <div class="item-info">期限:<%= search_item.expired_at.strftime('%Y-%m-%d') %></div>
      <div class="item-info"><%= search_item.remaining_days %></div>
      <div class="item-info">
       <% search_item.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: 'badge rounded-pill bg-info text-decoration-none text-dark' %>
       <% end %>
      </div>
      <div class="item-info"><%= render 'crud_menus', { item: item } %></div>
    </div>
  </div>
  <hr>
</li>