<li id="<%= dom_id(item) %>">
  <div class="card">
    <div class="card-body">
      <div class="item-info"><%= search_item.title %></div>
      <div class="item-info">数:<%= search_item.count %></div>
      <div class="item-info">期限:<%= search_item.expired_at.strftime('%Y-%m-%d') %></div>
      <div class="item-info"><%= search_item.remaining_days %></div>
      <div class="item-info"><%= search_item.detail %>
      <div class="item-info"><%= render 'crud_menus', { item: item } %></div>
    </div>
  </div>
  <hr>
</li>