<% content_for(:title, t('.title')) %>
  <div class="item-box">
    <div class="box-header">
       <%= render 'search_form_items' %>
      <h3 class="box-title"><% t('.title')%></h3>
      <div class="ul list-inline">
        <li>
          <label for="item-sort"><i class="fa-solid fa-filter"></i></label>
            <select id="item-sort-select">
              <option value="default"><%= t('.sort')%></option>
              <option value="latest"><%= t('.latest_expired_at')%></option>
              <option value="close"><%= t('.oldest_expired_at')%></option>
            </select>
          <%= link_to t('.expiration'), already_expired_items_path, class: 'btn btn-outline-dark' %>
        </li>
      </div>
    </div>
      <% if @items.present? %>
        <%= render @items %>
      <% else %>
        <p><%= t('.nothing')%></p>
      <% end %>
      <%= paginate @items, theme: 'bootstrap-5' %>
  </div>