<% content_for(:title, t('.title')) %>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
       <%= render 'search_form_items' %>
      <h3 class="box-title"><% t('.title')%></h3>
      <div class="ul list-inline">
        <li>
          <%= link_to t('.add_item'), new_item_path, class: 'btn btn-primary' %>
               <label for="item-sort"><%= t('.expired_at')%></label>
                <select id="item-sort-select">
                 <option value="default"><%= t('.sort')%></option>
                 <option value="latest"><%= t('.latest_expired_at')%></option>
                 <option value="expired"><%= t('.oldest_expired_at')%></option>
                </select>
        </li>
      </div>
    </div>
      <% if @search_items.present? %>
        <%= render @search_items %>
      <% else %>
        <p>Nothing</p>
      <% end %>
      <%= paginate @search_items %>
  </div>
</section>