<% content_for(:title, @item.title) %>
 <div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <article class="box1">
        <div class="card-body">
         <div class='row'>
           <div class='col-md-3'>
             <% if @item.image.attached? %>
               <%= image_tag @item.image, size: '300x200' %>
             <% else %>
               <%= image_tag asset_path("default.jpg"), size: '300x200' %>
             <% end %>
           </div>
           <div class='col-md-12'>
             <h3 class="d-inline"><%= @item.title %></h3>
                <%= render 'items/crud_menus', item: @item %>
             <ul class="list-inline">
                 <li class="list-inline-item"><%= t('defaults.count')%>:<%= @item.count %>個</li>
                 <li class="list-inline-item"><%= t('.expiration')%>:<%= @item.expired_at.strftime('%Y-%m-%d') %></li>
                 <li class="list-inline-item"><%= @item.remaining_days %></li>
                 <li class="list-inline-item"><% @item.tags.each do |tag| %> 
                                               <%= link_to tag.name, tag_path(tag), class: 'badge arounded-pill bg-info trxt-decoration-none text-white'%>
                                              <% end %>
                 <div class="box2"><%= @item.detail %></div>
             </ul>
               <%= link_to t('.return_items'), items_path, class: 'btn btn-secondary' %>
           </div>
         </div>
        </div>
      </article>
    </div>
  </div>
 </div>
</section>