<% content_for(:title, t('.title')) %>
<div class="content">
 <table class="table">
   <%= link_to t('.add_shopping_lists'), new_shopping_list_path, class: 'btn btn-primary'%>
  <thead>
    <th><%=ShoppingList.human_attribute_name(:product) %></th>
    <th><%=ShoppingList.human_attribute_name(:number) %></th>
    <th><%=ShoppingList.human_attribute_name(:trait) %></th>
  </thead>
     <tbody>
       <% if @shopping_lists.present? %>
         <% current_user.shopping_lists.each do |list| %>
           <tr>
             <td><%= check_box_tag :shopping_list_box %>
                 <%= label_tag :shopping_list_box, list.product %></td>
             <td><%= list.number %></td>
             <td><%= list.trait %></td>
             <td><%= render 'crud_menus', { shopping_list: list } %></td>
           </tr>
         <% end %>
          </tr>
       <% end %>
     </tbody>
 </table>
</div>