<% content_for(:title, t('.title')) %>
<div class="content">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
   <div class="row">
     <p><%= t('.title')%></p>
     <%= form_with model: @inquiry, local: true do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
       <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
       <%= f.text_area :text, class: "form-control", placeholder: "本文", size: "20x20" %>
       <%= f.submit t('defaults.submit'), class: "btn btn-primary" %>
     <% end %>
    </div>
  </div>
</div>
   